body {
    background: #192B50;
    background: conic-gradient(from 45deg, #192B50, #252941);
    color: white;
    font-family: myFont;
}

nav {
    font-family: inherit;
}

p {
    text-align: right;
    font-size: large;
    font-family: inherit;
}

.centerbox{
    padding-top: 13%;
    text-decoration: solid;
    text-align: center;
    font-size: 225%;
    font-family: inherit;
}

button{
    color: inherit;
    font-family: inherit;
    text-decoration: solid;
    text-align: center;
    background: transparent;
    font-size: 75%;
}

button:hover {
    opacity: 60%;
}



@font-face {
    font-family: myFont;
    src: url("assets/metropolis.regular.otf");
}