body {
    background: #192B50;
    background: conic-gradient(from 45deg, #192B50, #252941);
    color: white;
    font-family: myFont;
    font-size: large;
}

p {
    font-size: 1.25em;
}

.headline{
    padding-top: 15%;
    text-decoration: solid;
    text-align: center;
    font-size: 2.0em;
    padding-bottom: 15%;
}

footer{
    padding-top: 0.1%;
    font-size: 1.5em;
    text-align: center;
}

nav img {
    float: right;
    margin-left: 0.2%;
    margin-right: 0.2%;
}

a {
    color: rgb(82, 115, 161);
    text-decoration-line: none;
}

a:hover {
    opacity: 75%;
}

a:visited
{
    text-decoration-line: none;
    color: rgb(53, 85, 131);
}


.projectList {
    text-decoration: solid;
    text-align: left;
    background-color: hsla(215, 100%, 87%, 0.034);
    font-size: 1.4em;
    width: auto;
}

.projectList p {
    max-width: 55%;
}

#bubbleTag {
    text-align: center;
    background-color: rgb(46, 122, 155);
    border-radius: 10%;
    border-color: whitesmoke;
    margin-left: 0.2%;
    margin-right: 0.2%;
}

#projectTitle {
    font-size: 1.275em;
}

@font-face {
    font-family: myFont;
    src: url("assets/metropolis.regular.otf");
}